@font-face{
    font-family: Bakeshop;
    src: url(fonts/Quesha-gndR.ttf);
}
@font-face{
    font-family: Charmonman;
    src: url(fonts/Charmonman-Regular.ttf);
}
@media screen and (max-width:768px){
    #menu img, #gallery img{
        width: 80%;
        margin-bottom: 1%;
    }    
}
body{
    background-color: rgb(249, 251, 250);
    text-align: center;
}
.nav, footer{
    background-color:#a70592;
    font-size: 150%;
    padding-top: 1%;
    font-family: Charmonman;
    font-weight: bold;
    text-align: center;
}
.nav a, footer p{
    text-align: center;
    width: 30%;
    color: white;
    font-size: 110%;
    text-decoration: none;
}
.banner{
    padding: 15% 0 10% 0;
    text-align: center;
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(images/ss4.jpg);
    background-size: cover ;
    background-position: top left;
    opacity: 0.55;
}
.name{
    opacity: 1;
    position: relative;
    color: black;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.alert{
    padding-top: 1%;
    display: inline-block;
    display: inline-block;
    text-align: center;
    font-size: 115%;
}
.alert span{
    background-color: black;
    padding: 1% 3%;
    font-weight: bold;
    font-size: 125%;
    border-radius: 75px;
}
.alert p{
    margin-top: 1%;
    text-align: center;
}
.alert img, footer img{
    width: 3%;
    text-align: center;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}
.title{
    background-image: url(images/stroke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 1% 0;
    color: white;
    font-weight: bold;
    font-family: Charmonman;
}
#menu{
    font-size: 115%;
}
#gallery img, #menu img{
    width: 20%;
    display: inline-block;
    margin: 0 1% 1% 0;
}
#gallery img{
    height: 45vh;
}
footer p{
    width: 100%;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
