@font-face{
    font-family: "Jenna Sue";
    src: url(fonts/JennaSue.ttf);
}
body{
    background-color: rgb(253, 252, 251);
    margin: 2%;
}
header{
    width: 96%;
    text-align: center;
    position: fixed;
}
nav{
    background-color: tan;
    padding: 1% 0;
    border-radius: 10px;
}    
nav a{
    text-decoration: none;
    color: white;
    font-family: "Jenna Sue";
    font-size: 250%;
    font-weight: bold;
    padding: 0 5%;
    transition: 0.3s;
}
nav a:hover{
    color: black;
    text-decoration: none;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: tan;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
}
.viewbig{
    display: none;
}
@media screen and (min-width:768px){    
.alert{
    display: inline-block;
    text-align: center;
    top: 15vh;
    width: 30%;
    font-size: 115%;
}
.alert span{
    background-color: rgb(223, 43, 43);
    padding: 2% 5%;
    font-weight: bold;
    font-size: 150%;
    border-radius: 75px;
}
.alert img{
    width: 7%;
    text-align: center;
}
.content{
    width: 65%;
    display: inline-block;
    margin-left: 2%;
}
.contact{
    bottom: 0;
    width: 96%;
    position: fixed;
    text-align: center;
    background-color:  rgb(253, 252, 251);
}
.contact img{
    width: 2%;
}
}
